In [1]:
# Simple Returns and Log Returns

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(index = [2016,2017,2018], data = [100,50,95], columns = ["Price"])

In [5]:
df

      Price
2016    100
2017     50
2018     95

In [6]:
simple_returns = df.pct_change().dropna()

In [7]:
simple_returns

      Price
2017   -0.5
2018    0.9

In [8]:
simple_returns.mean() # mean annual return

Price    0.2
dtype: float64

In [9]:
100*1.2*1.2 
# if in 2016 the price was 100 then with 20 percent increment every year we will have a stock price of 144, 
# but that is not the case. Simple returns doesn't really give us the information that we need to predict the future value.
# This problem can be over come by using logarithmic returns.

144.0

In [11]:
# Logarithmic Returns 
np.log(df/df.shift(1))

         Price
2016       NaN
2017 -0.693147
2018  0.641854

In [12]:
log_returns = np.log(df/df.shift(1)).dropna()

In [13]:
log_returns

         Price
2017 -0.693147
2018  0.641854

In [14]:
log_returns.mean()

Price   -0.025647
dtype: float64

In [15]:
100*np.exp(2*log_returns.mean())

Price    95.0
dtype: float64